asgiref
psycopg2-binary~=2.9.3


asttokens
Babel
backcall
certifi
charset-normalizer
colorama
comtypes
debugpy
decorator
distlib
Django
django-admin
django-excel-response2
django-money
django-six
docopt
docutils
entrypoints
excel-base
executing
filelock
gunicorn
idna
ipykernel
ipython
isoweek
jedi
matplotlib-inline
nest-asyncio
packaging
parso
pickleshare
Pillow
prompt-toolkit
psutil
pure-eval
py-moneyed
Pygments
pyparsing
pypiwin32
python-dateutil
pyttsx3
pytz-deprecation-shim
pywin32
pyzmq
requests
screen
setuptools
six
sqlparse
stack-data
TimeConvert
tornado
typing_extensions
tzdata
tzlocal
urllib3
virtualenv
wcwidth
xlwt
yarg
