{% extends 'base.html' %}

		
			{% block content %}
	<table>
		<tr>
			<th></th>

			{% for staff_member in staff_members %}
			<th>{{ staff_member.name }}</th>
			{%endfor%}
			



			
		</tr>
		<tr>
			<th>10:00 AM</th>
			<td class="clickable {% if appointment_details.status == 'booked' and appointment_details.staff == 'Maher' and appointment_details.start == "10:00" %} booked {% elif appointment_details.status == 'cancelled' %} cancelled {% elif appointment_details.status == 'completed' %} completed {% endif %}"><a onclick="sendToAPForm('Maher','10:00 AM')" class="myLink">{% if appointment_details.status == 'booked' and appointment_details.staff == 'Maher' and appointment_details.start == "10:00" %} <span style="position:absolute;">{{appointment_details.customer}}</span>{% endif %}<hr></hr></a></td>
			<td class="clickable {% if appointment_details.status == 'booked' and appointment_details.staff == 'Sultan' and appointment_details.start == "10:00" %} booked {% elif appointment_details.status == 'cancelled' %} cancelled {% elif appointment_details.status == 'completed' %} completed {% endif %}"><a onclick="sendToAPForm('Sultan','10:00 AM')" class="myLink">{% if appointment_details.status == 'booked' and appointment_details.staff == 'Sultan' and appointment_details.start == "10:00" %} <span style="position:absolute;">{{appointment_details.customer}}</span>{% endif %}<hr></hr></a></td>
			<td class="clickable {% if appointment_details.status == 'booked' and appointment_details.staff == 'Melissa' and appointment_details.start == "10:00" %} booked {% elif appointment_details.status == 'cancelled' %} cancelled {% elif appointment_details.status == 'completed' %} completed {% endif %}"><a onclick="sendToAPForm('Melissa','10:00 AM')" class="myLink">{% if appointment_details.status == 'booked' and appointment_details.staff == 'Melissa' and appointment_details.start == "10:00" %} <span style="position:absolute;">{{appointment_details.customer}}</span>{% endif %}<hr></hr></a></td>
			<!-- add more buttons here as needed -->
		</tr>
		<tr class="short">
			<td>15</td>
			<td class="clickable {% if appointment_details.status == 'booked' and appointment_details.staff == 'Maher' and appointment_details.start == "10:15" %} booked {% elif status == 'cancelled' %} cancelled {% elif status == 'completed' %} completed {% endif %}"><a onclick="sendToAPForm('Maher','10:15 AM')" class="myLink">{% if appointment_details.status == 'booked' and appointment_details.staff == 'Maher' and appointment_details.start == "10:15" %} <span style="position:absolute;">{{appointment_details.customer}}</span>{% endif %}<hr></hr></a></td>
			<td class="clickable {% if appointment_details.status == 'booked'  and appointment_details.staff == 'Sultan' and appointment_details.start == "10:15" %} booked {% elif status == 'cancelled' %} cancelled {% elif status == 'completed' %} completed {% endif %}"><a onclick="sendToAPForm('Sultan','10:15 AM')" class="myLink">{% if appointment_details.status == 'booked' and appointment_details.staff == 'Sultan' and appointment_details.start == "10:15" %} <span style="position:absolute;">{{appointment_details.customer}}</span>{% endif %}<hr></hr></a></td>
			<td class="clickable {% if appointment_details.status == 'booked'  and appointment_details.staff == 'Melissa' and appointment_details.start == "10:15"%} booked {% elif status == 'cancelled' %} cancelled {% elif status == 'completed' %} completed {% endif %}"><a onclick="sendToAPForm('Melissa','10:15 AM')" class="myLink">{% if appointment_details.status == 'booked' and appointment_details.staff == 'Melissa' and appointment_details.start == "10:15" %} <span style="position:absolute;">{{appointment_details.customer}}</span>{% endif %}<hr></hr></a></td>
			
			<!-- add more buttons here as needed -->
		</tr>
		<tr class="short">
			<td>30</td>
			<td class="clickable {% if appointment_details.status == 'booked' and appointment_details.staff == 'Maher' and appointment_details.start == "10:30" %} booked {% elif appointment_details.status == 'cancelled' %} cancelled {% elif appointment_details.status == 'completed' %} completed {% endif %}"><a onclick="sendToAPForm('Maher','10:30 AM')" class="myLink" >{% if appointment_details.status == 'booked' and appointment_details.staff == 'Maher' and appointment_details.start == "10:30" %} <span style="position:absolute;">{{appointment_details.customer}}</span>{% endif %}<hr></hr></a></td>
			<td class="clickable {% if appointment_details.status == 'booked'  and appointment_details.staff == 'Sultan' and appointment_details.start == "10:30" %} booked {% elif appointment_details.status == 'cancelled' %} cancelled {% elif appointment_details.status == 'completed' %} completed {% endif %}"><a onclick="sendToAPForm('Sultan','10:30 AM')" class="myLink" >{% if appointment_details.status == 'booked' and appointment_details.staff == 'Sultan' and appointment_details.start == "10:30" %} <span style="position:absolute;">{{appointment_details.customer}}</span>{% endif %}<hr></hr></a></td>
			<td class="clickable {% if appointment_details.status == 'booked' and appointment_details.staff == 'Melissa' and appointment_details.start == "10:30"%} booked {% elif appointment_details.status == 'cancelled' %} cancelled {% elif appointment_details.status == 'completed' %} completed {% endif %}"><a onclick="sendToAPForm('Melissa','10:30 AM')" class="myLink" >{% if appointment_details.status == 'booked' and appointment_details.staff == 'Melissa' and appointment_details.start == "10:30" %} <span style="position:absolute;">{{appointment_details.customer}}</span>{% endif %}<hr></hr></a></td>
			
			<!-- add more buttons here as needed -->
		</tr>
		<tr class="short">
			<td>45</td>
			<td class="clickable {% if appointment_details.status == 'booked' and appointment_details.staff == 'Maher' and appointment_details.start == "10:45" %} booked {% elif status == 'cancelled' %} cancelled {% elif status == 'completed' %} completed {% endif %}"><a onclick="sendToAPForm('Maher','10:45 AM')" class="myLink">{% if appointment_details.status == 'booked' and appointment_details.staff == 'Maher' and appointment_details.start == "10:45" %} <span style="position:absolute;">{{appointment_details.customer}}</span>{% endif %}<hr></hr></a></td>
			<td class="clickable {% if appointment_details.status == 'booked' and appointment_details.staff == 'Sultan' and appointment_details.start == "10:45" %} booked {% elif status == 'cancelled' %} cancelled {% elif status == 'completed' %} completed {% endif %}"><a onclick="sendToAPForm('Sultan','10:45 AM')" class="myLink">{% if appointment_details.status == 'booked' and appointment_details.staff == 'Sultan' and appointment_details.start == "10:45" %} <span style="position:absolute;">{{appointment_details.customer}}</span>{% endif %}<hr></hr></a></td>
			<td class="clickable {% if appointment_details.status == 'booked' and appointment_details.staff == 'Melissa' and appointment_details.start == "10:45" %} booked {% elif status == 'cancelled' %} cancelled {% elif status == 'completed' %} completed {% endif %}"><a onclick="sendToAPForm('Melissa','10:45 AM')" class="myLink">{% if appointment_details.status == 'booked' and appointment_details.staff == 'Melissa' and appointment_details.start == "10:45" %} <span style="position:absolute;">{{appointment_details.customer}}</span>{% endif %}<hr></hr></a></td>
			
			<!-- add more buttons here as needed -45-->
		</tr>
		<tr>
			<th>11:00 AM</th>
			<td class="clickable {% if appointment_details.status == 'booked' and appointment_details.staff == 'Maher' and appointment_details.start == "11:00" %} booked {% elif status == 'cancelled' %} cancelled {% elif status == 'completed' %} completed {% endif %}"><a onclick="sendToAPForm('Maher','11:00 AM')" class="myLink">{% if appointment_details.status == 'booked' and appointment_details.staff == 'Maher' and appointment_details.start == "11:00" %} <span style="position:absolute;">{{appointment_details.customer}}</span>{% endif %}<hr></hr></a></td>
			<td class="clickable {% if appointment_details.status == 'booked' and appointment_details.staff == 'Sultan' and appointment_details.start == "11:00" %} booked {% elif status == 'cancelled' %} cancelled {% elif status == 'completed' %} completed {% endif %}"><a onclick="sendToAPForm('Sultan','11:00 AM')" class="myLink">{% if appointment_details.status == 'booked' and appointment_details.staff == 'Sultan' and appointment_details.start == "11:00" %} <span style="position:absolute;">{{appointment_details.customer}}</span>{% endif %}<hr></hr></a></td>
			<td class="clickable {% if appointment_details.status == 'booked' and appointment_details.staff == 'Melissa' and appointment_details.start == "11:00"  %} booked {% elif status == 'cancelled' %} cancelled {% elif status == 'completed' %} completed {% endif %}"><a onclick="sendToAPForm('Melissa','11:00 AM')" class="myLink">{% if appointment_details.status == 'booked' and appointment_details.staff == 'Melissa' and appointment_details.start == "11:00" %} <span style="position:absolute;">{{appointment_details.customer}}</span>{% endif %}<hr></hr></a></td>
			
			<!-- add more buttons here as needed -->
		</tr>
		<tr>
			<td>15</td>
			<td class="clickable {% if appointment_details.status == 'booked' and appointment_details.staff == 'Maher' and appointment_details.start == "11:15" %}%} booked {% elif status == 'cancelled' %} cancelled {% elif status == 'completed' %} completed {% endif %}"><a onclick="sendToAPForm('Maher','11:15 AM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable {% if appointment_details.status == 'booked' and appointment_details.staff == 'Sultan' and appointment_details.start == "11:15" %} booked {% elif status == 'cancelled' %} cancelled {% elif status == 'completed' %} completed {% endif %}"><a onclick="sendToAPForm('Sultan','11:15 AM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable {% if appointment_details.status == 'booked' and appointment_details.staff == 'Melissa' and appointment_details.start == "11:15" %} booked {% elif status == 'cancelled' %} cancelled {% elif status == 'completed' %} completed {% endif %}"><a onclick="sendToAPForm('Melissa','11:15AM')" class="myLink" ><hr></hr></a></td>
			
			<!-- add more buttons here as needed -->
		</tr>
		<tr>
			<td>30</td>
			<td class="clickable {% if appointment_details.status == 'booked' and appointment_details.staff == 'Maher' and appointment_details.start == "11:30" %} %} booked {% elif status == 'cancelled' %} cancelled {% elif status == 'completed' %} completed {% endif %}"><a onclick="sendToAPForm('Maher','11:30 AM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable {% if appointment_details.status == 'booked' and appointment_details.staff == 'Sultan' and appointment_details.start == "11:30" %} booked {% elif status == 'cancelled' %} cancelled {% elif status == 'completed' %} completed {% endif %}"><a onclick="sendToAPForm('Sultan','11:30 AM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable {% if appointment_details.status == 'booked' and appointment_details.staff == 'Melissa' and appointment_details.start == "11:30"%} booked {% elif status == 'cancelled' %} cancelled {% elif status == 'completed' %} completed {% endif %}"><a onclick="sendToAPForm('Melissa','11:30 AM')" class="myLink" ><hr></hr></a></td>
			
			<!-- add more buttons here as needed -->
		</tr>
		<tr>
			<td>45</td>
			<td class="clickable {% if appointment_details.status  == 'booked' and appointment_details.staff == 'Maher' and appointment_details.start == "11:45" %} %} booked {% elif status == 'cancelled' %} cancelled {% elif status == 'completed' %} completed {% endif %}"><a onclick="sendToAPForm('Maher','11:45 AM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable {% if  appointment_details.status == 'booked' and appointment_details.staff == 'Sultan' and appointment_details.start == "11:45" %} booked {% elif status == 'cancelled' %} cancelled {% elif status == 'completed' %} completed {% endif %}"><a onclick="sendToAPForm('Sultan','11:45 AM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable {% if appointment_details.status == 'booked' and appointment_details.staff == 'Melissa' and appointment_details.start == "11:45"%} booked {% elif status == 'cancelled' %} cancelled {% elif status == 'completed' %} completed {% endif %}"><a onclick="sendToAPForm('Melissa','11:45 AM')" class="myLink" ><hr></hr></a></td>
			
			<!-- add more buttons here as needed -->
		</tr>
		<tr>
			<th>12:00 PM</th>
			<td class="clickable {% if appointment_details.status == 'booked' and appointment_details.staff == 'Maher' and appointment_details.start == "12:00" %} %} booked {% elif status == 'cancelled' %} cancelled {% elif status == 'completed' %} completed {% endif %}"><a onclick="sendToAPForm('Maher','12:00 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable {% if appointment_details.status == 'booked' and appointment_details.staff == 'Sultan' and appointment_details.start == "12:00" %} booked {% elif status == 'cancelled' %} cancelled {% elif status == 'completed' %} completed {% endif %}"><a onclick="sendToAPForm('Sultan','12:00 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable {% if appointment_details.status == 'booked' and appointment_details.staff == 'Melissa' and appointment_details.start == "12:00" %} booked {% elif status == 'cancelled' %} cancelled {% elif status == 'completed' %} completed {% endif %}"><a onclick="sendToAPForm('Melissa','12:00 PM')" class="myLink" ><hr></hr></a></td>
			
			<!-- add more buttons here as needed -->
		</tr>
		<tr>
			<td>15</td>
			<td class="clickable"><a onclick="sendToAPForm('Maher','12:15 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','12:15 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','12:15 PM')" class="myLink" ><hr></hr></a></td>
			
			<!-- add more buttons here as needed -->
		</tr>
		<tr>
			<td>30</td>
			<td class="clickable"><a onclick="sendToAPForm('Maher','12:30 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','12:30 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','12:30 PM')" class="myLink" ><hr></hr></a></td>
			
			<!-- add more buttons here as needed -->
		</tr>
		<tr>
			<td>45</td>
			<td class="clickable"><a onclick="sendToAPForm('Maher','12:45 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','12:45 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','12:45 PM')" class="myLink" ><hr></hr></a></td>
			
			<!-- add more buttons here as needed -->
		</tr>
		<tr>
			<th>01:00 PM</th>
			<td class="clickable"><a onclick="sendToAPForm('Maher','1:00 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','1:00 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','1:00 PM')" class="myLink" ><hr></hr></a></td>
			
			<!-- add more buttons here as needed -->
		</tr>
		<tr>
			<td>15</td>
			<td class="clickable"><a onclick="sendToAPForm('Maher','1:15 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','1:15 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','1:15 PM')" class="myLink" ><hr></hr></a></td>
			
			<!-- add more buttons here as needed -->
		  </tr>
		  <tr>
			<td>30</td>
			<td class="clickable"><a onclick="sendToAPForm('Maher','1:30 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','1:30 PM')" class="myLink"><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','1:30 PM')" class="myLink"><hr></hr></a></td>
			
			<!-- add more buttons here as needed -->
		  </tr>
		  <tr>
			<td>45</td>
			<td class="clickable"><a onclick="sendToAPForm('Maher','1:45 PM')" class="myLink"><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','1:45 PM')" class="myLink"><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','1:45 PM')" class="myLink"><hr></hr></a></td>
	
			<!-- add more buttons here as needed -->
		  </tr>
		  <tr>
			<th>02:00 PM</th>
			<td class="clickable"><a onclick="sendToAPForm('Maher','2:00 PM')" class="myLink"><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','2:00 PM')" class="myLink"><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','2:00 PM')" class="myLink"><hr></hr></a></td>
	
			<!-- add more buttons here as needed -->
		  </tr>
		  <tr class = "short">
			<td>15</td>
			<td class="clickable"><a onclick="sendToAPForm('Maher','2:15 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','2:15 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','2:15 PM')" class="myLink" ><hr></hr></a></td>
	
			<!-- add more buttons here as needed -->
		  </tr>
		  <tr>
			<td>30</td>
			<td class="clickable"><a onclick="sendToAPForm('Maher','2:30 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','2:30 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','2:30 PM')" class="myLink" ><hr></hr></a></td>
	
		  </tr>
		  <tr>
			<td>45</td>
			<td class="clickable"><a onclick="sendToAPForm('Maher','2:45 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','2:45 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','2:45 PM')" class="myLink" ><hr></hr></a></td>
	
			<!-- add more buttons here as needed -->
		</tr>
		<tr>
			<th>03:00 PM</th>
			<td class="clickable"><a onclick="sendToAPForm('Maher','3:00 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','3:00 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','3:00 PM')" class="myLink" ><hr></hr></a></td>
	
			<!-- add more buttons here as needed -->
		</tr>
		<tr>
			<td>15</td>
			<td class="clickable"><a onclick="sendToAPForm('Maher','3:15 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','3:15 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','3:15 PM')" class="myLink" ><hr></hr></a></td>
	
			<!-- add more buttons here as needed -->
		</tr>
		<tr>
			<td>30</td>
			<td class="clickable"><a onclick="sendToAPForm('Maher','3:30 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','3:30 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','3:30 PM')" class="myLink" ><hr></hr></a></td>
	
			<!-- add more buttons here as needed -->
		</tr>
		<tr>
			<td>45</td>
			<td class="clickable"><a onclick="sendToAPForm('Maher','3:45 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','3:45 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','3:45 PM')" class="myLink" ><hr></hr></a></td>
	
			<!-- add more buttons here as needed -->
		  </tr>
		  <tr>
			<th>04:00 PM</th>
			<td class="clickable"><a onclick="sendToAPForm('Maher','4:00 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','4:00 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','4:00 PM')" class="myLink" ><hr></hr></a></td>
	
			<!-- add more buttons here as needed -->
		  </tr>
		  <tr>
			<td>15</td>
			<td class="clickable"><a onclick="sendToAPForm('Maher','4:15 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','4:15 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','4:15 PM')" class="myLink" ><hr></hr></a></td>
	
			<!-- add more buttons here as needed -->
		  </tr>
		  <tr>
			<td>30</td>
			<td class="clickable"><a onclick="sendToAPForm('Maher','4:30 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','4:30 PM')" class="myLink"><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','4:30 PM')" class="myLink"><hr></hr></a></td>
	
			<!-- add more buttons here as needed -->
		  </tr>
		  <tr>
			<td>45</td>
			<td class="clickable"><a onclick="sendToAPForm('Maher','4:45 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','4:45 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','4:45 PM')" class="myLink" ><hr></hr></a></td>
	
			<!-- add more buttons here as needed -->
		  </tr>
		  <tr>
			<th>05:00 PM</th>
			<td class="clickable"><a onclick="sendToAPForm('Maher','5:00 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','5:00 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','5:00 PM')" class="myLink" ><hr></hr></a></td>
	
			<!-- add more buttons here as needed -->
		  </tr>
		  <tr>
			<td>15</td>
			<td class="clickable"><a onclick="sendToAPForm('Maher','5:15 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','5:15 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','5:15 PM')" class="myLink" ><hr></hr></a></td>
	
			<!-- add more buttons here as needed -->
		</tr>
		<tr>
			<td>30</td>
			<td class="clickable"><a onclick="sendToAPForm('Maher','5:30 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','5:30 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','5:30 PM')" class="myLink" ><hr></hr></a></td>
	
			<!-- add more buttons here as needed -->
		</tr>
		<tr>
			<td>45</td>
			<td class="clickable"><a onclick="sendToAPForm('Maher','5:45 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','5:45 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','5:45 PM')" class="myLink" ><hr></hr></a></td>
	
			<!-- add more buttons here as needed -->
		</tr>
		<tr>
			<th>06:00 PM</th>
			<td class="clickable"><a onclick="sendToAPForm('Maher','6:00 PM')" class="myLink"><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','6:00 PM')" class="myLink"><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','6:00 PM')" class="myLink"><hr></hr></a></td>
	
			<!-- add more buttons here as needed -->
		</tr>
		<tr>
			<td>15</td>
			<td class="clickable"><a onclick="sendToAPForm('Maher','6:15 PM')" class="myLink"><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','6:15 PM')" class="myLink"><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','6:15 PM')" class="myLink"><hr></hr></a></td>

			<!-- add more buttons here as needed -->
		</tr>
		<tr>
			<td>30</td>
			<td class="clickable"><a onclick="sendToAPForm('Maher','6:30 PM')" class="myLink"><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','6:30 PM')" class="myLink"><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','6:30 PM')" class="myLink"><hr></hr></a></td>

			<!-- add more buttons here as needed -->
		</tr>
		  <tr>
			<td>45</td>
			<td class="clickable"><a onclick="sendToAPForm('Maher','6:45 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','6:45 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','6:45 PM')" class="myLink" ><hr></hr></a></td>

			<!-- add more buttons here as needed -->
		  </tr>
		  <tr>
			<th>07:00 PM</th>
			<td class="clickable"><a onclick="sendToAPForm('Maher','7:00 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','7:00 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','7:00 PM')" class="myLink" ><hr></hr></a></td>

			<!-- add more buttons here as needed -->
		  </tr>
		  <tr>
			<td>15</td>
			<td class="clickable"><a onclick="sendToAPForm('Maher','7:15 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','7:15 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','7:15 PM')" class="myLink" ><hr></hr></a></td>

			<!-- add more buttons here as needed -->
		  </tr>
		  <tr>
			<td>30</td>
			<td class="clickable"><a onclick="sendToAPForm('Maher','7:30 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','7:30 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','7:30 PM')" class="myLink" ><hr></hr></a></td>

			<!-- add more buttons here as needed -->
		  </tr>
		  <tr>
			<td>45</td>
			<td class="clickable"><a onclick="sendToAPForm('Maher','7:45 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','7:45 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','7:45 PM')" class="myLink" ><hr></hr></a></td>

			<!-- add more buttons here as needed -->
		  </tr>
		  <tr>
			<th>08:00 PM</th>
			<td class="clickable"><a onclick="sendToAPForm('Maher','8:00 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','8:00 PM')" class="myLink" ><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa,'8:00 PM')" class="myLink" ><hr></hr></a></td>

			<!-- add more buttons here as needed -->
		</tr>
		<tr>
			<td>15</td>
			<td class="clickable"><a onclick="sendToAPForm('Maher','8:15 PM')" class="myLink" href =""><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','8:15 PM')" class="myLink" href =""><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','8:15 PM')" class="myLink" href =""><hr></hr></a></td>

			
		
			<!-- add more buttons here as needed -->
		</tr>
		<tr>
			<td>30</td>
			<td class="clickable"><a onclick="sendToAPForm('Maher','8:30 PM')" class="myLink" href =""><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','8:30 PM')" class="myLink" href =""><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','8:30 PM')" class="myLink" href =""><hr></hr></a></td>

			<!-- add more buttons here as needed -->
		</tr>
		<tr>
			<td>45</td>
			<td class="clickable"><a onclick="sendToAPForm('Maher','8:45 PM')" class="myLink" href =""><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','8:45 PM')" class="myLink" href =""><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','8:45 PM')" class="myLink" href =""><hr></hr></a></td>

			<!-- add more buttons here as needed -->
		</tr>
		<tr>
			<th>09:00 PM</th>
			<td class="clickable"><a onclick="sendToAPForm('Maher','9:00 PM')" class="myLink" href =""><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','9:00 PM')" class="myLink" href =""><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','9:00 PM')" class="myLink" href =""><hr></hr></a></td>

			<!-- add more buttons here as needed -->
		</tr>
		<tr>
			<td>15</td>
			<td class="clickable"><a onclick="sendToAPForm('Maher','9:15 PM')" class="myLink" href =""><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','9:15 PM')" class="myLink" href =""><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','9:15 PM')" class="myLink" href =""><hr></hr></a></td>

			<!-- add more buttons here as needed -->
		</tr>
		<tr>
			<td>30</td>
			<td class="clickable"><a onclick="sendToAPForm('Maher','9:30 PM')" class="myLink" href =""><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','9:30 PM')" class="myLink" href =""><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','9:30 PM')" class="myLink" href =""><hr></hr></a></td>

			<!-- add more buttons here as needed -->
		</tr>
		
		<tr>
			<td>45</td>
			<td class="clickable"><a onclick="sendToAPForm('Maher','9:45 PM')" class="myLink" href =""><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','9:45 PM')" class="myLink" href =""><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','9:45 PM')" class="myLink" href =""><hr></hr></a></td>

			<!-- add more buttons here as needed -->
		</tr>
		<tr>
			<th>10:00 PM</th>
			<td class="clickable"><a onclick="sendToAPForm('Maher','10:00 PM')" class="myLink" href =""><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Sultan','10:00 PM')" class="myLink" href =""><hr></hr></a></td>
			<td class="clickable"><a onclick="sendToAPForm('Melissa','10:00 PM')" class="myLink" href =""><hr></hr></a></td>

			<!-- add more buttons here as needed -->
		</tr>
	</table>
{%endblock%}

  {% block right%}
  <form id="ap-form" action="{% url 'create_appointment' %}" method="POST">
	{% csrf_token %}
	<input type="text" name="staff-name" id="staff-name" class="hidden" >
	<input type="text" name="start-time" id="start-time" class ="hidden">
  	<label for="date">Select a date:</label>
	<input type="text" id="date-picker" name="date">
			
		</div>
	</div>
</div>

{%endblock%}
