{% extends 'base.html' %}

{% block content %}
<h2>Customer List</h2>
<a href="{% url 'create_customer'%}" class="btn btn-outline-primary">Create</a>
<br></br>
<div class="row">
    {% for customer in customers %}
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ customer.name }}</h5>
                <p class="card-text">Phone: {{ customer.phone_number }}</p>
                <p class="card-text">Email: {{ customer.email }}</p>
                <p class="card-text">Address: {{ customer.address }}</p>
                <a href="{% url 'update_customer' customer.id %}" class="btn btn-outline-info">Update</a>
              <a href="{% url 'delete_customer' customer.id %}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
