{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h3>Packages</h3>
    <a href="{% url 'create_package'%}" class="btn btn-outline-primary">Create</a>
    <br></br>
    <div class="row">
      {% for package in packages %}
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">{{ package.name }}</h5>
              <p class="card-text">{{ package.description |linebreaksbr }}</p>
              <p class="card-text">Price: {{ package.price }}</p>
              <a href="{% url 'update_package' package.id %}" class="btn btn-outline-info">Update</a>
              <a href="{% url 'delete_package' package.id %}" class="btn btn-danger">Delete</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}