<!-- update_package.html -->

{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h2>Update Package</h2>
    <form method="post" action="{% url 'update_package' package.id %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_name">Name:</label>
        {{ form.name }}
      </div>
      <div class="form-group">
        <label for="id_description">Description:</label>
        {{ form.description }}
      </div>
      <div class="form-group">
        <label for="id_price">Price:</label>
        {{ form.price }}
      </div>
      
      <button type="submit" class="btn btn-outline-info">Update Package</button>
      <br></br>
      <a href="{% url 'list_package' %}" class="btn btn-outline-dark">Cancel</a>
    </form>
  </div>
{% endblock %}
